<html>
<title>
    View Movie Bookings
</title>

<body>
    Hello {{user}}! <br><br>
    <h4>Your Ticket:-</h4>
    Movie Name -- {{moviename}}<br> Number Of Tickets --{{ticketquantity}}<br><br>
    <form method="post" action="/">
        <button type="submit">Home Page</button>
    </form>
    <br><br>
    <form action="/logout" method="post" enctype="multipart/form-data">
        <input type="hidden" id="jwt" name="jwt" value="{{user}}">
        <input type="submit" value="Log Out">
    </form>
</body>

</html>